.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--dark-grayish-blue-color);
  border-radius: 0.5rem;

  padding: 2rem 2rem 0rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  /* mobile */
  width: 90vw;
}

.header {
  font-size: 1rem;
  color: var(--neon-green-color);
  margin-bottom: 1rem;
}

.advice {
  color: var(--light-cyan-color);
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.pictureDivider {
  margin-bottom: -1rem;
}

.button {
  display: block;
  padding: 2rem;
  background-color: var(--neon-green-color);
  border-radius: 50%;
  border: none;
  transform: translate(0, +50%);
}

.button:hover,
.button:active {
  box-shadow: 0 0 1rem var(--neon-green-color);
}

@media (min-width: 768px) {
  /* desktop */
  .main {
    width: 40rem;
  }

  .advice {
    font-size: 2.8rem;
  }
}
