@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --light-cyan-color: hsl(193, 38%, 86%);
  --neon-green-color: hsl(150, 100%, 66%);
  --grayish-blue-color: hsl(217, 19%, 38%);
  --dark-grayish-blue-color: hsl(217, 19%, 24%);
  --dark-blue-color: hsl(218, 23%, 16%);
}

/* global reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
  background-color: var(--dark-blue-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
